body, html {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav > ul > li {
    display: inline-block;
}

h1, h2, h3, h4 {
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
