{% extends "base.html" %}

{% block head %}
<link rel="shortcut icon" href="{{ url_for('static', filename='gallery.png') }}" type="image/x-icon">
<title>Gallery</title>
{% endblock %}

{% block body %}
<div class="content">

    <form action="{{ url_for('gallery') }}" method="POST" enctype="multipart/form-data">
        Select a file:
        <br><br>
        <input type="file" name="SourceFileName" value="{{ last_image['SourceFileName'] }}">
        <br><br>
        <label for="description">Image Description</label>
        <br>
        <input type="text" name="Description" id="description" value="{{ last_image['Description'] }}">
        <br>
        <input type="submit">
    </form>

    <div class="images">
        <div class="image">
            {% if images|length < 1 %}
            <h4>There are no images. Upload one above!</h4>
            {% else %}
            <table>
                <tr>
                    <th>Image</th>
                    <th>Description</th>
                    <th>File Name</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>
                {% for image in images %}
                    <tr>
                        <td><img src="{{ url_for('uploads', local_filename=image['LocalFileName']) }}"
                                 width="150px"
                                 alt="{{ image['Description'] }}"></td>
                        <td>{{ image['Description'] }}</td>
                        <td>{{ image['SourceFileName'] }}</td>
                        <td>{{ image['DatTimIns'] }}</td>
                        <td>
                            <a href="{{ url_for('update_image', image_id=image['ImageId']) }}">Replace</a>
                            <a href="{{ url_for('delete_image', image_id=image['ImageId']) }}">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            
        </div>
    </div>

</div>
{% endblock %}